<div class="wrapper">
  <header>
    <h1><a href="{{  site.url  }}"><b>Enrollment Nerdery</b></a></h1>
    <p>
    A place to collect my thoughts on data analysis within Enrollment Management. Dare I call it Enrollment Science?
    </p>

	<img src="/assets/cartoon.png" >
	<br><br>
	<p>Where you can find me<br>
		<a href="https://github.com/btibert3" target="_blank">GitHub</a><br>
		<a href="https://twitter.com/brocktibert" target="_blank">Twitter</a><br>
		<a href="https://www.linkedin.com/in/brocktibert" target="_blank">LinkedIn</a><br>
		<a href="mailto:btibert3@gmail.com">Email</a>
	</p>

  </header>